@charset "UTF-8";
/* ----------------------------------
    reset
----------------------------------- */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  *::before,
  *::after { 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
  }  
  body,h1,h2,h3,h4,h5{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
  }
  body {
    color: #000000;
    background-color: #ffffff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    line-height: 1.3;
    font-size: 16px;
  }
  ol, ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto; 
  }
  table {
    border-collapse: collapse;
  }
  a{
    cursor: pointer;
  }

  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=esubmit],
  button,
  select,
  textarea {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
  }

/* ----------------------------------
    基本レイアウト
----------------------------------- */
#wrapper {
  overflow: hidden;
}

.main_width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1300px) {
  .main_width {
    padding-right: 50px;
    padding-left: 50px;
  } 
}


@media only screen and (max-width: 768px) {
  .main_width {
    padding-right: 30px;
    padding-left: 30px;
  } 
}

.narrow_width {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.home_section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.home_section.bg_gray {
  background: #f5f4f1;
}

.home_section.bg_white {
  background: #fff;
}

#message.home_section.bg_parallax {
  padding-bottom: 190px;
}

#contact.home_section {
  padding-top: 90px;
}

@media only screen and (max-width: 1024px) {
  #message.home_section.bg_parallax {
    padding-bottom: 180px;
  }
  
  #contact.home_section {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .home_section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #message.home_section.bg_parallax {
    padding-bottom: 100px;
  }
  
  #contact.home_section {
    padding-top: 40px;
  }
}

/* ----------------------------------
    擬似要素(▼部分)
----------------------------------- */
.home_section {
  position: relative;
}

.home_section::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/section_arr_white.png");
  width: 140px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  z-index: 1;
}

.home_section.bg_gray::after {
  background-image: url("../img/section_arr_gray.png");
}

@media only screen and (max-width: 1024px) {
  .home_section ::after {
    width: 112px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .home_section ::after {
    width: 84px;
    height: 30px;
  }
}




/* ----------------------------------
    共通パーツ
----------------------------------- */
.section_title h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 70px;
}

.section_title h2 span {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .section_title h2 {
    font-size: 24px;
    margin-bottom: 26px;
  }
}

@media only screen and (max-width:480px){
  .section_title h2 span {
    display: block;
  }
}

.link_btn {
  margin-top: 70px;
}

.link_btn a,
.link_btn button {
  width: 100%;
  max-width: 300px;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #c9191a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (min-width:769px) {
  .link_btn a,
  .link_btn button {
    transition: 0.5s;
    cursor: pointer;
  }
  .link_btn a:hover,
  .link_btn button:hover{
  background-color: #911212;
  transition: 0.5s;
  }
}

@media only screen and (max-width: 768px) {
  .link_btn {
    margin-top: 50px;
  }
  .link_btn a,
  .link_btn button {
  max-width: 120px;
  height: 60px;
  font-size: 16px;
  }
}

.red {
  color: #c9191a;
}


/* ----------------------------------
    header
----------------------------------- */

header {
  height: 76px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

header #hd_logo {
  padding: 10px 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

header #hd_logo h1 {
  align-items: center;
  display: flex;
}

@media only screen and (max-width:768px) {
  header {
    height: 60px;
  }
  header #hd_logo {
    padding: 10px 20px;
  }
}

/* ハンバーガーメニュー */
header #hd_menu_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
}

@media only screen and (min-width:769px) {
  header #hd_menu_btn {
    transition: all 0.5s;
  }
  header #hd_menu_btn:hover {
    opacity: 0.8;
    transition: all 0.5s;
    cursor: pointer;
  }
}

header #hd_menu_btn img {
  width: auto;
  height: 100%;
}

/* ----------------------------------
    first_view
----------------------------------- */

#first_view {
  margin-top: 76px;
  background-color: #c9191a;
  color: #fff;
  position: relative;
}

@media only screen and (max-width:768px) {
  #first_view {
    margin-top: 60px;
  }
}

#first_view .kv_bg {
  height: 100%;
  width: 100%;
  background-image: url("../img/kv_bg.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#first_view .kv_bg span {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 0;
  right: 50px;
  width: 102px;
  height: 100%;
  top: 0;
}

#first_view .kv_bg span img {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (max-width:768px) {
  #first_view .kv_bg {
    background-position: center bottom;
  }
  #first_view .kv_bg span {
    align-items: flex-end;
    right: 30px;
    width: 50px;
  }
}

#first_view .main_width {
  padding-top: 140px;
  padding-bottom: 120px;
  z-index: 1;
  position: relative;
}


@media only screen and (max-width:768px) {
  #first_view .main_width {
    padding-top: 60px;
    padding-bottom: 120px;
    z-index: 1;
    position: relative;
  }

}

#first_view .kv_logo {
  margin-bottom: 60px;
}

#first_view .kv_logo span {
  font-size: 146px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  line-height: 146px;
}

#first_view .kv_logo span:first-child {
  margin-right: 0.2em;
}


@media only screen and (max-width:1024px) {
  #first_view .kv_logo span {
    font-size: 100px;
    line-height: 100px;
  }
}

@media only screen and (max-width:768px) { 
  #first_view .kv_logo {
    margin-bottom: 40px;
  }
  #first_view .kv_logo span {
    font-size: 70px;
    line-height: 70px;
  }
}

#first_view .kv_text {
  width: 600px;
  max-width: 100%;
}

#first_view .kv_text h2 span {
  font-size: 55px;
  font-weight: bold;
}

#first_view .kv_text h2 span + span {
  font-size: 60px;
}

#first_view .kv_text p {
  font-size: 24px;
  line-height: 2;
  margin-top: 1.4em;
}

@media only screen and (max-width:1024px) {
  #first_view .kv_text h2 span {
    font-size: 40px;
  }

  #first_view .kv_text h2 span + span {
    font-size: 44px;
  }
}

@media only screen and (max-width:768px) { 
  #first_view .kv_text h2 span {
    font-size: 30px;
  }
  
  #first_view .kv_text h2 span + span {
    font-size: 36px;
  }
  
  #first_view .kv_text p {
    font-size: 16px;
  }
}

@media only screen and (max-width:480px) {
  #first_view .kv_text p span {
    display: block;
  }
  #first_view .kv_text p br {
    display: none;
  }
}

#first_view .scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

#first_view .scroll a {
  display: block;
  padding-bottom: 20px;
}

@media only screen and (min-width:769px) {
  #first_view .scroll a {
    transition: all 0.5s;
  }

  #first_view .scroll a:hover {
    padding-bottom: 15px;
    transition: all 0.5s;
  }
}

@media only screen and (max-width:768px){
  #first_view .scroll a {
    padding-bottom: 0px;
  }
}



/* ----------------------------------
    こんなお悩みありませんか。
----------------------------------- */

.intro_flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.intro_box {
  width: 33.3333%;
}

@media only screen and (min-width:769px) {
  .intro_box:nth-child(2) {
    transform: translateY(50px);
  }
}

@media only screen and (max-width:768px) {
  .intro_flex {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro_box {
    width: 100%;
    padding-top: 60px;
  }
}
.intro_box .fukidashi {
  background: #fff;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.intro_box .fukidashi p {
  padding: 1.8em;
  font-size: 22px;
  line-height: 1.8em;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #808080;
}

@media only screen and (max-width:1024px) {
  .intro_box .fukidashi p {
    font-size: 18px;
  }
}

@media only screen and (max-width:768px) {
  .intro_box .fukidashi {
    margin-left: 0px;
    margin-right: 0px;
  }
  .intro_box .fukidashi p {
    font-size: 16px;
  }
}

/* もやもやの擬似要素 */

.intro_box .fukidashi::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/moyamoya.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 68px;
  height: 78px;
  top:-52px;
  left: 50%;
  transform: translateX(-50%);
}

.intro_box .fukidashi::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/fukidashi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 26px;
  bottom: -24px;
  right: 32px;
}

@media only screen and (max-width:768px) {
  .intro_box .fukidashi::before {
    width: 54px;
    height: 62px;
    top: -40px;
  }

}

/* intro_catch */
.intro_catch {
  padding-top: 140px;
  display: flex;
  justify-content: center;
}

.intro_catch p {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}

@media only screen and (max-width:768px) {
  .intro_catch {
    padding-top: 90px;
  }
  .intro_catch p {
    font-size: 26px;
  }

  .intro_catch p > span {
    display: block;
  }
}


.intro_catch p::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background-image:url("../img/underline.png") ;
  left: 0;
  bottom: -10px;
}

.intro_catch p::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/toki.png");
  width: 168px;
  height: 148px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

@media only screen and (max-width:1024px) {
  .intro_catch p::after {
    width: 134px;
    height: 118px;
    transform: translate(100%, -80%);
  }
}

@media only screen and (max-width:768px) {
  .intro_catch p::after {
    width: 84px;
    height: 74px;
    transform: translate(70%, -50%);
    top: 0;
  }
}

/* ----------------------------------
  service
---------------------------------- */

.service_flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}

.service_flex .service_box {
  width: 33.3333%;
  padding: 0 15px;
  position: relative;
}

@media only screen and (max-width:768px) {
  .service_flex {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .service_flex .service_box {
    width: 100%; 
    padding: 0;
  }
  .service_flex .service_box + .service_box {
    margin-top: 20px;
  }
}

.service_flex .service_box .service_box_inner {
  border: 3px solid #c9191a;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.service_flex .service_box .service_box_inner p {
  font-weight: bold;
  text-align: center;
}

.service_title {
  color: #c9191a;
  font-size: 30px;
  padding-top: 50px;
}

.service_price {
  font-size: 22px;
  margin-top: 1.2em;

}

.service_price >span {
  font-size: 16px;
  display: block;
  margin-top: 0.5em;
}

.service_image {
  text-align: center;
}

@media only screen and (max-width:1024px) {
  .service_title {
    font-size: 24px;
    padding-top: 40px;
  }
  .service_price {
    font-size: 18px;
  }
}

@media only screen and (max-width:768px) {
  .service_title {
    font-size: 20px;
    padding-top: 30px;
  }
  .service_price {
    font-size: 16px;
  }
  .service_price >span {
    font-size: 14px;
  }
  .service_image img {
    padding: 0 20px;
  }
}

/* ----------------------------------
  point
---------------------------------- */

.point_wrap {
  margin-bottom: 120px;
}

.point_block {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 64px;
}

.point_block + .point_block {
  margin-top: 10px;
}

@media only screen and (max-width:1024px) {
  .point_block {
    padding: 0 48px;
  }
}

@media only screen and (max-width:768px) {
  .point_block {
    display: block;
    padding: 0 30px;
  }
}

.point_text {
  padding-top: 50px;
  padding-bottom: 40px;
}

.point_text h3  {
  font-size: 30px;
  color: #c9191a;
  font-weight: bold;
}

.point_text p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 2;
  margin-top: 1em;
}

.point_number {
  min-width: 70px;
  margin-right: 48px;
}

@media only screen and (max-width:1024px) {
  .point_text {
    padding-top: 46px;
    padding-bottom: 36px;
  }
  .point_text h3  {
    font-size: 26px;
  } 
  .point_text p {
    line-height: 1.8;
    font-weight: normal;
  }
}

@media only screen and (max-width:768px) {
  .point_text {
    padding-top: 20px;
    padding-bottom: 0px;
  }  
  .point_text h3  {
    font-size: 20px;
    text-align: center;
  } 
  .point_text p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
  }
  .point_number {
    width: 40px;
    min-width: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ----------------------------------
  advertisement_list
---------------------------------- */

.advertisement_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}

.advertisement_list li {
  width: 25%;
  height: 90px;
  position: relative;
  padding: 0 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width:1024px) {
  .advertisement_list ul {
    margin-left: -6px;
    margin-right: -6px;
  }
  .advertisement_list li {
    padding: 0 6px;
    margin-bottom: 12px;
  }
  
}

@media only screen and (max-width:768px) {
  .advertisement_list ul {
    justify-content: flex-start;
    margin-left: -4px;
    margin-right: -4px;
  }
  .advertisement_list li {
    width: 50%;
    height: 60px;
    padding: 0 4px;
    margin-bottom: 8px;
  }
}

.advertisement_item {
  color: #c9191a;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.advertisement_img {
  margin-top: 40px;
  text-align: center;
}

@media only screen and (max-width:1024px) {
  .advertisement_item  {
    font-size: 16px;
  }
}

@media only screen and (max-width:768px) {
  .advertisement_img {
    margin-top: 34px;
  }  
}

@media only screen and (max-width:480px) {
  .advertisement_item  {
    font-size: 14px;
  }
}

/* ----------------------------------
    service_detail
----------------------------------- */

.service_name {
  background-color: #f5f4f1;
  width: 100%;
  text-align: center;

}

.service_name h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 1em 0.5em;
}

@media only screen and (max-width:768px) {
  .service_name h3 {
    font-size: 16px;
    font-weight: bold;
  } 
}

.table_area {
  margin-bottom: 60px;
}

.table_area table {
  border-top: 1px solid #e7e7e7;
  width: 100%;
}

@media only screen and (max-width:1024px) {
  .table_area {
    overflow-x: auto;
    margin-bottom: 60px;
  }
  .table_area table {
    min-width: 800px;
  }
}

@media only screen and (max-width:768px) {
  .table_area {
    margin-bottom: 34px;
  }
}

.table_area table th {
  text-align: center;
  font-weight: bold;
  background-color: #fcfcfb;
}

.table_area table th, .table_area table td {
  padding: 1em;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 2;
  border-bottom: 1px solid #e7e7e7;
  vertical-align: middle;
}

.table_area table th + th, .table_area table td + td {
  border-left: 1px solid #e7e7e7;
}

.table_area table td:first-child {
  font-weight: bold;
  width: 10em;
}

.table_area table td:nth-child(n + 3) {
  text-align: center;
  width: 10em;
}

@media only screen and (max-width:768px) {
  .table_area table th, .table_area table td {
    font-size: 14px;
    line-height: 1.8;
  }
  
}

.price_wide {
  width: 20em;
}

.service_supplement li {
  font-size: 14px;
  color: #808080;
}

.service_supplement li + li {
  margin-top: 1.25em;
}

/* ----------------------------------
    service_flow
----------------------------------- */

.flow_list {
  margin-left: -20px;
  margin-right: -20px;
}

.flow_list ol {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.flow_list ol li {
  width: 20%;
  padding: 0 20px;
  position: relative;
}

.flow_list ol li::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/flow_arr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 30px;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.flow_list ol li:first-child:before {
  display: none;
}

@media only screen and (max-width:1024px) {
  .flow_list {
    margin-left: -8px;
    margin-right: -8px;
  }
  .flow_list ol li {
    padding: 0 8px;
  }
  .flow_list ol li::before {
    width: 8px;
    height: 15px;
  }
}

@media only screen and (max-width:768px) {
  .flow_list {
    margin-left: -4px;
    margin-right: -4px;
  }
  .flow_list ol {
    max-width: 400px;
    margin-left: auto;
  }
  .flow_list ol li {
    width: 50%;
    padding: 4px;
  }
  .flow_list ol li::before {
    display: none;
  }
}


.flow_content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.flow_content .flow_number {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.flow_content .flow_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
}

.flow_content .flow_img {
  width: 100%;
  margin: 20px 0;
}

@media only screen and (max-width:1024px) {
  .flow_content .flow_number {
    font-size: 20px;
  }
  .flow_content .flow_title {
    font-size: 16px;
  }
  .flow_content .flow_img {
    margin: 16px 0;
  }
  .flow_content .flow_img img {
    width: auto;
    height: 50px;
  }
  
}

/* ----------------------------------
  message
----------------------------------- */

.bg_parallax {
  background-image: url("../img/parallax_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

.message_cont {
  color: #fff;
  max-width: 800px;
  width: 100%;  
  margin: auto;
  padding: 0 70px;
}

@media only screen and (min-width:769px) {
  .message_cont {
    display: flex;
  }
  .bg_parallax .message_cont .section_title h2 {
    writing-mode: vertical-rl;
    text-align: left;
    margin-right: 2em;
  }
}

@media only screen and (max-width:768px) {
  .message_cont {
    max-width: 500px;
    padding: 0;
  }
}

.bg_parallax .message_cont .message_text p,
.bg_parallax .message_cont .message_text li
{
  font-size: 18px;
  line-height: 2;
}

@media only screen and (max-width:768px) {
  .bg_parallax .message_cont .message_text p,
  .bg_parallax .message_cont .message_text li
  {
    font-size: 16px;
    line-height: 1.8;
  }
}

.bg_parallax .message_cont .message_text li {
  text-indent: -1em;
  margin-left: 1em;
}


.bg_parallax .message_cont .message_text p + p,
.bg_parallax .message_cont .message_text p + ul,
.bg_parallax .message_cont .message_text ul + p {
  margin-top: 2em;
}

/* ----------------------------------
  擬似要素2(▼パララックス)
----------------------------------- */
.bg_parallax::before,
.bg_parallax::after
 {
  position: absolute;
  display: block;
  content: "";
  background-image: none;
  width: 50%;
  height: 50px;
  bottom: 0;
  background-color: #f5f4f1;
}

.bg_parallax::before {
  left: 0;
  transform: translateX(-70px);
}
.bg_parallax::after {
  right: 0;
  transform: translateX(70px);
}
@media only screen and (max-width:1024px) {
  .bg_parallax::before,
  .bg_parallax::after
  {
    height: 40px;
  }

  .bg_parallax::before {
    transform: translateX(-56px);
  }
  .bg_parallax::after {
    transform: translateX(56px);
  }
}
@media only screen and (max-width:768px) {
  .bg_parallax::before,
  .bg_parallax::after
  {
    height: 30px;
  }

  .bg_parallax::before {
    transform: translateX(-42px);
  }
  .bg_parallax::after {
    transform: translateX(42px);
  }
}

.bg_parallax .message_cont::before,
.bg_parallax .message_cont::after
 {
  position: absolute;
  display: block;
  content: "";
  background-image: url(../img/bg_parallax_arr.png);
  width: 70px;
  height: 50px;
  bottom: 0;
  left: 50%;
}

.bg_parallax .message_cont::before {
  transform: translateX(-100%);
}

.bg_parallax .message_cont::after {
  transform: scale(-1, 1);
}
@media only screen and (max-width:1024px) {
  .bg_parallax .message_cont::before,
  .bg_parallax .message_cont::after
  {
    width: 56px;
    height: 40px;
  }
}
@media only screen and (max-width:768px) {
  .bg_parallax .message_cont::before,
  .bg_parallax .message_cont::after
  {
    width: 42px;
    height: 30px;
  }
}

/* ----------------------------------
  contact
----------------------------------- */

.form_caution {
  font-size: 14px;
  text-align: center;
  color: #808080;
}

.form_area form {
  margin: 50px auto 0;
}

.form_area dl {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  width: 100%;
  padding: 5px 0;
}

@media only screen and (max-width:768px) {
  .form_area form {
    margin: 34px auto 0;
  }
  .form_area dl {
    display: block;
    font-size: 14px;
  }
}

.form_area dl dt {
  font-weight: bold;
  min-width: 13em;
  margin-top: 1.2em;
}

@media only screen and (max-width:768px) {
  .form_area dl dt {
    padding-bottom: 1em;
  }
}

.form_area dl dd {
  width: 100%;
}

.form_area dl dt span.required{
   position: relative;
}

.form_area dl dt span.required::after{
   position: relative;
   content: "*";
   color: #d56e6d;
   margin-left: 0.5em;
}

.form_area input,
.form_area select,
.form_area textarea {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 1.2em 2em;
}

.form_area textarea {
  height: 10em;
}

.select_wrap {
  position: relative;

}

.select_wrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #808080 transparent transparent;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}

/* ----------------------------------
  profile
---------------------------------- */

.company_prof {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.company_prof dl {
  display: flex;
  font-size: 16px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 2em 0;
  width: 100%;
}

.company_prof dl + dl {
  border-top: none;
}

.company_prof dl dt {
  font-weight: bold;
  min-width: 8em;
  
}

.company_prof dl dt,
.company_prof dl dd {
  line-height: 2;
}

.company_prof dl dd a {
  color: #c9191a;
  text-decoration: underline;
}


@media only screen and (min-width:769px) {
  .company_prof dl dd a:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width:768px) {
  .company_prof dl {
    display: block;
    font-size: 14px;
  }
  .company_prof dl dt,
  .company_prof dl dd {
  line-height: 1.8;
  }
}

@media only screen and (max-width:480px) {
  .company_prof dl {
    display: block;
  }
}



/* ----------------------------------
  footer
---------------------------------- */

footer {
  position: relative;
  padding-top: 140px;
  padding-bottom: 40px;
  background-color: #c9191a;
  z-index: 2;
}

footer .privacy_policy {
  text-align: center;
  margin-bottom: 40px;
}

footer .privacy_policy .jp {
  font-size: 14px;
  color: #fff;
}

footer .copyright {
  text-align: center;
  font-size: 12px;
  color: #fff;
}

@media only screen and (max-width:1024px) {
  footer {
    padding-top: 80px;
  }
}

@media only screen and (max-width:768px) {
  footer {
    padding-top: 40px;
    padding-bottom: 18px;
  }
  footer .privacy_policy {
    margin-bottom: 28px;
  }
  footer .content_navi {
    display: none;
  }
}

/* ----------------------------------
  content_navi
---------------------------------- */

.content_navi ul {
  display: flex;
  flex-wrap: wrap;
}

.content_navi ul li {
  width: 33.3333%;
  color: #fff;
  margin-bottom: 60px;
  padding: 0 16px;
}

.content_navi a {
  display: block;
}

.content_navi a span.en {
  font-size: 40px; 
  letter-spacing: 0.15em; 
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content_navi a span.jp {
  font-size: 16px;
}

.content_navi a span.en.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content_navi ul li span {
  display: block;
}

@media only screen and (max-width:1024px) {
  .content_navi ul li {
    margin-bottom: 40px;
  }
  .content_navi a span.en {
    font-size: 30px; 
  }
  
  .content_navi a span.jp {
    font-size: 14px;
  }
}

@media only screen and (min-width:769px) {
  .content_navi a{
    transition: all 0.5s;
  }
  .content_navi a:hover{
    opacity: 0.6;
    transition: all 0.5s;
  }
}

@media only screen and (max-width:768px) {
  .content_navi ul li {
    width: 50%;
    margin-bottom: 30px;
  }
  .content_navi ul li a {
    width: 100%;
    max-width: 180px;
    margin: auto;
  } 
  .content_navi a span.en {
    font-size: 28px; 
  }  
  .content_navi a span.jp {
    margin-top: 0.2em;
  }  
}

@media only screen and (max-width:480px) {
  .content_navi ul li {
    width: 100%;
    margin-bottom: 30px;
  } 
  .content_navi a span.en {
    font-size: 24px; 
  }  
}
/* ----------------------------------
    ハンバーガーメニュー
----------------------------------- */
#sp_menu {
  display: block;
  position: fixed;
  background-color: #c9191a;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 76px;
  right: -100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 76px;
  transition: all 0.8s;
}
#sp_menu.sp_menu_open {
  right: 0;
  transition: all 0.4s;
}
#sp_menu .main_width {
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:768px) {
  #sp_menu {
    top: 60px;
    padding-top: 60px;
    padding-bottom: 90px;
  }
  #sp_menu .main_width {
    height: auto;
    align-items: flex-start;
  }
}



















